### SPECTRUM KERNEL MANAGER ###
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles
#############
# Implimentation for Hermes (Xiaomi Redmi Note 2) by ibilux
# CPU Examples: 403000, 806000, 1183000, 1326000, 1469000, 1625000, 1781000, 1950000, 2150000
# GPU Examples: 253500, 299000, 390000, 442000, 546000
#############


### Boot much faster ###
on property:init.svc.bootanim=running
# Switch to NOOP and performance mode while booting
    setprop persist.spectrum.profile 2
    write /sys/block/mmcblk0/queue/scheduler noop
    
### Initialization ###
on property:sys.boot_completed=1
# Switch back to cfq and default profile mode after boot
	setprop persist.spectrum.profile 0
	write /sys/block/mmcblk0/queue/scheduler cfq
# Set default profile on first boot
	exec u:r:init:s0 root root -- /init.spectrum.sh
	exec u:r:su:s0 root root -- /init.spectrum.sh
# Enable Spectrum support
	setprop spectrum.support 1
# Add kernel name
	setprop persist.spectrum.kernel Hermes
	
### Battery (default profile) ###
on property:persist.spectrum.profile=0
	# cpu0 (Assume SMP uses shared cpufreq policy for all CPUs)
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system.system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0664 /proc/cpufreq/cpufreq_limited_max_freq_by_user

	# Set CPU max freqs
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1183000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 403000
    write /proc/cpufreq/cpufreq_limited_max_freq_by_user 1183000

	# Set GPU max freq
	write /proc/gpufreq/gpufreq_opp_max_freq 442000

	# Configure governor settings for cluster
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 180000
	write /sys/devices/system/cpu/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "38000 1280000:18000 1480000:98000"
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1183000
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 98
	write /sys/devices/system/cpu/cpufreq/interactive/target_loads "80 403000:75 806000:85 1183000:90 1326000:95 1469000:98 1625000:99"
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 18000

### Super Battery ###
on property:persist.spectrum.profile=1
	# cpu0 (Assume SMP uses shared cpufreq policy for all CPUs)
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system.system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0664 /proc/cpufreq/cpufreq_limited_max_freq_by_user

	# Set CPU max freqs
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 403000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 403000
    write /proc/cpufreq/cpufreq_limited_max_freq_by_user 403000

	# Set GPU max freq
	write /proc/gpufreq/gpufreq_opp_max_freq 253500

	# Configure governor settings for cluster
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 180000
	write /sys/devices/system/cpu/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "18000 1480000:98000"
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1180000
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 98
	write /sys/devices/system/cpu/cpufreq/interactive/target_loads "80 780000:60 1180000:86 1280000:79 1480000:97"
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 38000

### Balance (hermes factory default profile) ###
on property:persist.spectrum.profile=2
	# cpu0 (Assume SMP uses shared cpufreq policy for all CPUs)
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system.system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0664 /proc/cpufreq/cpufreq_limited_max_freq_by_user

	# Set CPU max freqs
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1950000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 403000
    write /proc/cpufreq/cpufreq_limited_max_freq_by_user 1950000

	# Set GPU max freq
	write /proc/gpufreq/gpufreq_opp_max_freq 442000

	# Configure governor settings for cluster
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 25000
	write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 40000
	write /sys/devices/system/cpu/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 10000
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1950000
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
	write /sys/devices/system/cpu/cpufreq/interactive/target_loads 99
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 10000

### Performance ### 
on property:persist.spectrum.profile=3
	# cpu0 (Assume SMP uses shared cpufreq policy for all CPUs)
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system.system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0664 /proc/cpufreq/cpufreq_limited_max_freq_by_user

	# Set CPU max freqs
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2150000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 403000
    write /proc/cpufreq/cpufreq_limited_max_freq_by_user 2150000

	# Set GPU max freq
	write /proc/gpufreq/gpufreq_opp_max_freq 442000

	# Configure governor settings for cluster
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 25000
	write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 40000
	write /sys/devices/system/cpu/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "18000 1480000:98000"
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 2150000
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 98
	write /sys/devices/system/cpu/cpufreq/interactive/target_loads "80 780000:60 1180000:86 1280000:79 1480000:97"
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 38000

### Gaming (OverClock) ### 
on property:persist.spectrum.profile=4
	# cpu0 (Assume SMP uses shared cpufreq policy for all CPUs)
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system.system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0664 /proc/cpufreq/cpufreq_limited_max_freq_by_user
    
	# Set CPU max freqs
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2150000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1183000
    write /proc/cpufreq/cpufreq_limited_max_freq_by_user 2150000

	# Set GPU max freq
	write /proc/gpufreq/gpufreq_opp_max_freq 546000

	# Configure governor settings for cluster
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 180000
	write /sys/devices/system/cpu/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "18000 1480000:98000"
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 2150000
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 98
	write /sys/devices/system/cpu/cpufreq/interactive/target_loads "80 780000:60 1180000:86 1280000:79 1480000:97"
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 38000
